<!DOCTYPE html>
<html>
<head>
    <title>css clock</title>
    <link rel="stylesheet" href="{{url_for('static',filename='./css-clock-css.css')}}">

    <script src="{{url_for('static',filename='./css-clock-js.js')}}"></script>

</head>
<body>
    <div class="clock">
      <ul class="mark">
        <li data-time="1"></li>
        <li data-time="2"></li>
        <li data-time="3"></li>
        <li data-time="4"></li>
        <li data-time="5"></li>
        <li data-time="6"></li>
        <li data-time="7"></li>
        <li data-time="8"></li>
        <li data-time="9"></li>
        <li data-time="10"></li>
        <li data-time="11"></li>
        <li data-time="12"></li>
      </ul>
      <div class="hand-wrap">
        <div class="hand-hour"></div>
        <div class="hand-minute"></div>
        <div class="hand-second"></div>
      </div>
    </div>

</body>
</html>


